<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:alwaysRetainTaskState="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@drawable/iconecg"
        android:icon="@drawable/iconecg"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:roundIcon="@drawable/iconecg"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCODMaster"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".ECGChart"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".stream"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>